body{
    background-color: #E9EcF8;
  }
  
  main{
     display: flex;
     margin-left: 80px;
     margin-bottom: 50px;
  }
  
  .caja-texto{
    text-transform: lowercase;
    resize: none;
    width: 40rem;
    outline: none;
    border: none;
    background-color: #E9EcF8;
    font-size: 2rem;
    line-height: 6rem;      
  }
  
  .mensaje{
    position: relative;   
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("/imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 50px;
    width: 300px;
    font-size: 2rem;    
  }

  .mensaje{
    background-color: #FFFFFF;
    position: absolute;
    top: 5%;
    left: 50%;
    height: 63%;
    padding: 5rem;
    border-radius: 31px;   
  }

  .cbotones{
   margin: 0 auto;
   display: flex;
   width:95%;
   
  }
  
  .bencriptar{
    background-color: #072B61;
    color: #FFFFFF;
    position: absolute;
    top: 85%;
    left: 5%;
}
  
  .bdesencriptar{
    background: #FFFFFF;
    color: #072B61;
    position: absolute;
    top: 85%;
    left: 20%;
}

  .bcopiar{
    position: relative;
    margin-top: 925px;
    margin-left: 640px;
    left: 0%;
  }

  .advertencia{
    position: absolute;
    top:78%;
    left: 8%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    font-size: 2rem;
}

.bdesencriptar,.bencriptar,.bcopiar{
  padding: 1rem;
  width: 20rem;
  border-radius: 32px;
  transition: 1s;
  cursor: pointer;
  border: solid 1px#072B61;
}

.bdesencriptar:hover, .bencriptar:hover, .bcopiar:hover{
  transform: scale(1.1);
}
.derechos{
  position: absolute;
  top: 90%;
  margin: 2rem;
}
  .informacion{
    font-size: 15px;
  }